<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap" rel="stylesheet">
        <title>News Evaluation with NPL</title>
    </head>

    <body>

        <header>
            <h1>News Evaluation with NPL</h1>
            <h2>Powered by <a href="https://www.meaningcloud.com/">MeaningCloud</a></h2>
        </header>

        <main>
            <section>
                <form class="" onsubmit="return Client.handleSubmit(event)">
                    <label for="url" class="user-url" autocomplete="off">Enter URL to analyse the text in it:</label>
                    <input id="url" type="text" name="input" value="" placeholder="Enter a URL here">
                    <button id="submit" type="submit" name="" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">Submit</button>
                </form>
            </section>

            <section class="results">
                <div id="noResults" class="no-results">No results! Enter a URL :)</div>
                <div id="loading"></div>
                <div id="results">
                    <h3>Results:</h3>
                    <ul>
                        <li>Agreement: <p id="agreement">No results</p></li>
                        <li>Subjectivity:<p id="subjectivity">No results</p></li>
                        <li>Irony: <p id="irony">No results</p></li>
                        <li>Analysis confidence: <p id="confidence">No results</p></li>
                    </ul>
                </div>
            </section>
        </main>

        <footer>
            <p>Coded by <a href="https://www.constanzamorales.com">Constanza Morales</a></p>
        </footer>

        <script>
            if ('serviceWorker' in navigator) {
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
        </script>
    </body>
</html>
