$font-stack: 'Rubik', Helvetica, sans-serif;
$background-color: #000;
$primary-color: #fff;
$secondary-color: #16dfad;

body {
	color: $primary-color;
	flex-direction: column;
	background: $background-color;
	min-height: 100vh;
	font-family: $font-stack;
	font-size: 1em;
}

li {
	padding: 10px 0px 10px 0px;
	font-weight: 700;
	display: flex;
}

li p {
	padding-left: 10px;
	font-weight: 400;
}

main {
	flex: 2;
}

section {
	max-width: 600px;
	margin: 50px auto;
}

/* MEDIA QUERY min-width: 768px, max-width: 1023px */
@media screen and (min-width: 768px) and (max-width: 1023px) {
	body {
		margin: 0 auto;
		padding: 0px 20px 0px 20px;
		min-height: 100vh;
	}
}

/* MEDIA QUERY max-width: 767px */
@media screen and (max-width: 767px) {
	body {
		margin: 0 auto;
		padding: 0px 20px 0px 20px;
		font-size: 1em;
	}
}
