$font-stack: 'Rubik', Helvetica, sans-serif;
$background-color: #fff;
$primary-color: #000;
$secondary-color: #16dfad;

body {
	flex-direction: column;
	min-height: 100vh;
	font-family: $font-stack;
	font-size: 1em;
}

li {
	padding: 10px 0px 10px 0px;
	font-weight: 700;
	display: flex;
}

li p {
	padding-left: 10px;
	font-weight: 400;
}

main {
	flex: 2;
}

section {
	max-width: 600px;
	margin: 50px auto;
}
