$secondary-color: #16dfad;
$hover-color: #fff;
$border-radius: 8px;
$white-border: 1px solid #fff;

form {
	border: 1px solid #545454;
	border-radius: $border-radius;
	padding: 30px;
	box-shadow: 10px 10px #ffdd1a;
}

input {
	padding: 5px 20px;
	width: 100%;
	line-height: 16px;
	margin: 20px 0;
	border-radius: $border-radius;
	border: $white-border;
	padding: 10px 0px 10px 10px;
}

button {
	background-color: $secondary-color;
	border-radius: $border-radius;
	border: none;
	padding: 10px 0px 10px 0px;
	width: 100%;
}

button:hover {
	background-color: $hover-color;
	color: #fff;
	transition: 200ms ease;
	cursor: pointer;
}

h3 {
	font-size: 1.5em;
	font-weight: 700;
	padding-bottom: 20px;
}

#loading {
	width: 2em;
	height: 2em;
	border: 5px solid #16dfad;
	border-top: 6px solid #000;
	border-radius: 100%;
	margin: 30px auto;
	display: none;
	animation: spin 1s infinite linear;
}

#loading.show {
	display: block;
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.results {
	border: $white-border;
	border-radius: $border-radius;
	padding: 10px 0px 40px 20px;
	box-shadow: 10px 10px #ffdd1a;
}

#results {
	display: none;
	padding: 20px 0px 20px 20px;
}
#results.show {
	display: block;
}

.no-results {
	text-align: center;
	padding-top: 50px;
	display: block;
}

.no-results.hide {
	display: none;
}
